################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/cmake-build-debug
/HelloBuild
/build
/bin
/freeglut-3.0.0
/glew-2.1.0
/glfw
/lib